@model ProyectoMVC_AlexiaSabate.Models.ViewModels.InsertAnimalViewModel

<h2>Añadir el Animal</h2>

<form asp-action="Insert" asp-controller="Animal" method="post">
    <label>Nombre: </label>
    <input type="text" id="NombreAnimal" name="NombreAnimal" placeholder="Introduce el nombre" />
    <br /><br />

    <label>Raza: </label>
    <input type="text" id="Raza" name="Raza" placeholder="Introduce la raza" />
    <br /><br />

    <label>Tipo de Animal: </label>
    <select id="RIdTipoAnimal" name="RIdTipoAnimal">
        @foreach (var tipo in @Model.TipoAnimales)
        {
            <option value="@tipo.IdTipoAnimal">@tipo.TipoDescripcion</option>
        }
    </select>
    <br /><br />

    <label>Fecha de Nacimiento: </label>
    <input type="date" id="FechaNacimiento" name="FechaNacimiento" />
    <br /><br />

    <button type="submit">Aceptar</button>
</form>
